@page
@model PostIT_WebApp.Pages.PostItNote.DetailsModel




<div>
    <h4>Note</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Note.Text)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Note.Text)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-page="./MyNotesPage">Back to List</a>
</div>