@page
@model PostIT_WebApp.Pages.Account.RegisterPageModel
@{
    ViewData["Title"] = "Register";
}
<form method="post">
    <div class="form-group">
        <label asp-for="@Model.FirstName">Firstname</label>
        <input asp-for="@Model.FirstName" required/>
    </div>
    <div class="form-group">
        <label asp-for="@Model.LastName">Lastname</label>
        <input asp-for="@Model.LastName" required />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Email">Email</label>
        <input asp-for="@Model.Email" type="email" required />
    </div>
    <div class="form-group">
        <label asp-for="@Model.UserName">Username</label>
        <input asp-for="@Model.UserName" required />
    </div>
    <div class="form-group">
        <label asp-for="@Model.Password">Password</label>
        <input asp-for="@Model.Password" type="password" required />
    </div>
    <div class="form-group">
        <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
        <input asp-for="@Model.ConfirmPassword" type="password" required />
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>







